body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    background: rgb(132, 136, 132);
    box-shadow: 0px 4px 2px -2px rgb(54, 69, 79);
    transition: all 0.3s ease;
}

.hero {
    text-align: center;
    padding: 50px 0;
}

.banner-img {
    width: 35%;
    max-height: 300px;
}

.thumbnails img {
    width: 80px;
    cursor: pointer;
    margin: 5px;
}